<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.farmerboy.chatbbd">
    
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".activities.WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.LoginActivity"/>
        <activity android:name=".activities.ForgetPasswordActivity"/>
        <activity android:name=".activities.MainActivity"/>
        <activity android:name=".activities.RegisterActivity"/>
        <activity android:name=".activities.InformationActivity"/>
        <activity android:name=".activities.NameChangeActivity"/>
        <activity android:name=".activities.PasswordChangeActivity"/>
        <activity android:name=".activities.AvatarChangeActivity"/>
    </application>

</manifest>
